
.App {
  background-color: #191919;
  opacity: 0.9;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #191919 4px ), 
  repeating-linear-gradient( #00000055, #000000 );
}

.mainAppHeader{
  height: 100px;
  color:azure;
  padding: 25px 0px 0px 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

#title{
  font-style: italic;
  font-weight: bolder;
}

.planetButton{
  width: 110px;
  display: inline
}

.planetButton:hover{
  transform: scale(1.2);
  cursor: url(./Images/telescope3.png), auto;
}

.planetButtonContainer{
  display: flex;
}

.spaceImageSizing{
  width:1500px;  
}

.positioningAstroPic{
  display: flex;
  margin-top: 50px; 
}

.titleAstroPic{
  text-align: center;
}

.planetCard {
  height: 550px;
  min-width: 700px;
  max-width: 900px;
  color: white;
}

.planetPic {
  height: 350px;
  min-width: 400px;
  width:fit-content;
}

.learnMoreContainer{
  color:white;

}

.allMoonsDisplay{
  margin-left: 5px;
}

.InfoPageFooter{
  text-align: center;
  
}

.homePageImageNavbar{
  display:flex;
  justify-content: space-evenly;
}

#NextImage:hover::before{
  content: "Next ";
}

.learnMoreImageButton{
  width: 110px;
}

.imageSizing{
  max-width: 800px;
  max-height: 600px;
}

body > #root > div {
  height: 100vh;
  overflow: auto;
  padding-bottom: 25px;
}