
.App {
  background-color: #191919;
  opacity: 0.9;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #191919 4px ), 
  repeating-linear-gradient( #00000055, #000000 );
}

.main-header{
  height: 100px;
  color:azure;
  padding: 25px 0px 0px 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

#title{
  font-style: italic;
  font-weight: bolder;
}

.pnet{
  width: 110px;
  display: inline;
  
}

.pnet:hover{
  transform: scale(1.2);
}
.pnetDiv{
  display: flex;
}


.space-POD{
  display: flex;
  margin-top: 25px; 
}

.planetCard {
  height: 550px;
  min-width: 700px;
  max-width: 900px;
  color: white;
}

.planetPic {
  height: 300px;
  width:fit-content;
}

body > #root > div {
  height: 100vh;
  overflow: auto;
  padding-bottom: 25px;
}