body > #root > div {
  height: 425vh;
  width: 205vh;
}
.App {
  background-color: #191919;
  opacity: 0.9;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #191919 4px ), 
  repeating-linear-gradient( #00000055, #000000 );
}

.main-header{
  height: 100px;
  color:azure;
  padding: 25px 0px 0px 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

#title{
  font-style: italic;
  font-weight: bolder;
}

.pnet{
  width: 150px;
}

.pnet:hover{
  transform: scale(1.2);
}

#main-div{
  display: flex;
}

#space-gif{
  height: 785px;
  width: 1625px;
}

.planetCard {
  height: 350px;
}

.planetPic {
  height: 200px;
}
